<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <error-page>
  	<error-code>404</error-code>
  	<location>/error.jsp</location>
  </error-page>
  <filter>
  	<filter-name>MetaFilter</filter-name>
  	<display-name>MetaFilter</display-name>
  	<description></description>
  	<filter-class>com.storemanagement.filters.MetaFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>AuthenticationFilter</filter-name>
  	<display-name>AuthenticationFilter</display-name>
  	<description></description>
  	<filter-class>com.storemanagement.filters.AuthenticationFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>InvoicesCounterFilter</filter-name>
  	<display-name>InvoicesCounterFilter</display-name>
  	<description></description>
  	<filter-class>com.storemanagement.filters.InvoicesCounterFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>MetaFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AuthenticationFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>InvoicesCounterFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>ItemsController</servlet-name>
  	<display-name>ItemsController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.ItemsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GroupsController</servlet-name>
  	<display-name>GroupsController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.GroupsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UnitsController</servlet-name>
  	<display-name>UnitsController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.UnitsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SuppliersController</servlet-name>
  	<display-name>SuppliersController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.SuppliersController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClientsController</servlet-name>
  	<display-name>ClientsController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.ClientsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InventoriesController</servlet-name>
  	<display-name>InventoriesController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.InventoriesController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UsersController</servlet-name>
  	<display-name>UsersController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.UsersController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SettingsController</servlet-name>
  	<display-name>SettingsController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.SettingsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomeController</servlet-name>
  	<display-name>HomeController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.HomeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubGroupsController</servlet-name>
  	<display-name>SubGroupsController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.SubGroupsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CachesController</servlet-name>
  	<display-name>CachesController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.CachesController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SalesController</servlet-name>
  	<display-name>SalesController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.SalesController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PurchasesController</servlet-name>
  	<display-name>PurchasesController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.PurchasesController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReturnInvoicesController</servlet-name>
  	<display-name>ReturnInvoicesController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.ReturnInvoicesController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BranchesController</servlet-name>
  	<display-name>BranchesController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.BranchesController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CacheMovementController</servlet-name>
  	<display-name>CacheMovementController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.CacheMovementController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutController</servlet-name>
  	<display-name>LogoutController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.LogoutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReportsController</servlet-name>
  	<display-name>ReportsController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.ReportsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CacheSumController</servlet-name>
  	<display-name>CacheSumController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.CacheSumController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FacilityController</servlet-name>
  	<display-name>FacilityController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.FacilityController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClientsDebitsController</servlet-name>
  	<display-name>ClientsDebitsController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.ClientsDebitsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ItemBalanceController</servlet-name>
  	<display-name>ItemBalanceController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.ItemBalanceController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProfitController</servlet-name>
  	<display-name>ProfitController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.ProfitController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ErrorController</servlet-name>
  	<display-name>ErrorController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.ErrorController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PrintBarCodeController</servlet-name>
  	<display-name>PrintBarCodeController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.PrintBarCodeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SupplierDebitsController</servlet-name>
  	<display-name>SupplierDebitsController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.SupplierDebitsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TransferController</servlet-name>
  	<display-name>TransferController</display-name>
  	<description></description>
  	<servlet-class>com.storemanagement.controllers.TransferController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ReturnInvoicesController</servlet-name>
  	<url-pattern>/return-invoices</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CacheSumController</servlet-name>
  	<url-pattern>/cache-sum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ItemBalanceController</servlet-name>
  	<url-pattern>/item-balance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProfitController</servlet-name>
  	<url-pattern>/profit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrintBarCodeController</servlet-name>
  	<url-pattern>/print-barcode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SupplierDebitsController</servlet-name>
  	<url-pattern>/supplier-debits</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TransferController</servlet-name>
  	<url-pattern>/transfer</url-pattern>
  </servlet-mapping>
</web-app>
